*.[oa]
*.ko.debug
*.ko.full
*.ko
TAGS
vmwgfx/*.h
vmwgfx/x86
vmwgfx/machine
vmwgfx/export_syms
amd/amdgpu/*.h
amd/amdgpu/x86
amd/amdgpu/machine
amd/amdgpu/export_syms
amd/amdkfd/*.h
amd/amdkfd/x86
amd/amdkfd/machine
amd/amdkfd/export_syms
drm/*.h
drm/x86
drm/machine
drm/export_syms
ttm/*.h
ttm/x86
ttm/machine
ttm/export_syms
i915/*.h
i915/x86
i915/machine
i915/export_syms
lindebugfs/*.h
lindebugfs/x86
lindebugfs/machine
lindebugfs/export_syms
linuxkpi/*.h
linuxkpi/x86
linuxkpi/machine
linuxkpi/export_syms
radeon/*.h
radeon/x86
radeon/machine
radeon/export_syms
